#movie-form{
	text-align: center;
	margin-top:20px;
	margin-bottom:20px;
}

.hero{
	background-color:white;
	padding:7px;
}

.panel{
	margin:25px;
	background-color: salmon;
}

.panel-body{
	text-align: center;
}

.gif{
	margin: 20px;
	
}